<div class="card">
  <h3 class="card-title mb-5">
    {{.Page.Params.title}}
    {{ if (eq .Page.Params.featured true)}}
    {{ partial "components/project/featured.html"}}
    {{ end }}
  </h3>

    {{ if (eq .Page.Params.featured true)}}
    {{ partial "components/project/featured-mobile.html"}}
    {{ end }}

  {{ partial "components/project/langs.html" . }}

  <span>
    <b>Status:</b> {{.Page.Params.status}}
  </span>
  
  <p>
    {{.Summary}}
  </p>

{{ partial "components/project/socials.html" .}} 
</div>

