<div class="card w-70 mw-100 shadow-lg">
        <a href={{.RelPermalink}}>
        <h2 class="card-title">{{.Title}}</h2>
        </a>

        {{ if eq .Type "post"}}
        <span class="postInfo">

        <i class="fas fa-calendar"></i> 
            {{ if isset .Site.Params "indexdateformat"}}
                {{.Date.Format .Site.Params.indexdateformat}}
            {{ else }}
                {{ .Date.Format "02 Jan 2006."}}
            {{ end }}
            &nbsp;
            &nbsp;
            <i class='fas fa-stopwatch'></i> 
            {{ .ReadingTime }}-minute read
            &nbsp;
            &nbsp;
            {{ if or (eq .Site.Params.enableWordCount true) (eq .Params.enableWordCount true) }}
            <i class="fas fa-book"></i>
            {{ .WordCount }} words
            {{ end }}
        {{ end }}
        </span>
        <p>
        {{.Summary}}
        </p>
        {{ if eq .Type "post"}}
        <span class="mb-0">
            <!-- 
            Post Categories and Tags
            Since it calls the range in the partial it doesn't need to be called here.
            -->
            {{ if isset .Params "categories"}}
                {{ partial "post/cards/categories.html" . }}
            {{ end }}
            {{ if isset .Params "tags"}}
            <span class="text-right">
                {{ partial "post/cards/tags.html" . }}
            </span>
            {{ end }}
        </span>
        {{ end }}
     </div>
