{{ define "main"}}
<div class="content">
  <h3>{{.Title}}</h3>
  {{.Content}}
  <ul>
  {{ range .Pages}}
  <li class="mb-0">
       <a href={{.RelPermalink}}>{{.Title}}</a>
       <span class="float-right" id="date">{{ if isset .Site.Params "listdateformat" }} 
                                 {{ .Date.Format .Site.Params.listDateFormat }}
                                 {{ else }} {{.Date.Format "02 Jan."}} 
                                 {{ end }}</span>
       {{.Summary}}
     </li>
  {{ end}}
{{ end }}
