{{ define "main"}}
<div class="content">
  <h3>{{.Title}}</h3>
<ul>
    {{ range .Data.Terms.ByCount }}
    <div class="card w-70 mw-100 shadow-lg">
      <a href="{{.Page.RelPermalink}}"><h2 class="card-title">{{.Page.Title}}</h2></a>
    <span class="d-inline-block">
      {{ .Count }} Post{{ if gt .Count 1}}s{{end}}
    </span>
<br/>
 {{ if .Page.Params.description}}
              {{ .Page.Params.description}}
              {{ else}}
              {{.Page.Summary}}
              {{ end }} 
    </div> 
    {{ end }}
</ul>
</div>
{{ end }}

