{{ define "main"}}
<div class="content">
  <h3>{{.Title}}</h3>
  {{.Content}}
  <div class="container-fluid">
    <div class="row">
    {{ range .Pages }}
    <div class="col-lg-6">
      <div class="card">
        <h2 class="card-title">
          <a href={{.RelPermalink}}>{{.Title}}</a></h2>
        <span class="postInfo">

        <i class="fas fa-calendar"></i> 
            {{ if isset .Site.Params "indexdateformat"}}
                {{.Date.Format .Site.Params.indexdateformat}}
            {{ else }}
                {{ .Date.Format "02 Jan 2006."}}
            {{ end }}
            &nbsp;
            &nbsp;
            <i class='fas fa-stopwatch'></i> 
            {{ .ReadingTime }}-minute read
            &nbsp;
            &nbsp;
            {{ if or (eq .Site.Params.enableWordCount true) (eq .Params.enableWordCount true) }}
            <i class="fas fa-book"></i>
            {{ .WordCount }} words
            {{ end }}
        </span>
        <p>
        {{.Summary | truncate 250}}
        </p>
        <div class="text-right">
        <a class="btn" href="{{.RelPermalink}}">Read More</a>
        </div>
    </div>
    {{ end }}
   </div>
  </div>
</div>
{{ end }}
