<nav class="navbar navbar-fixed-bottom">
  {{ $currentPage := . }}
  <ul class="navbar-nav d-none d-md-flex"> <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
    {{ range .Site.Menus.btm }}
        {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "btm" .) ($currentPage.IsMenuCurrent "btm" .)) }}
            {{ if .HasChildren }}
            <li class="nav-item dropdown dropup with-arrow {{if $active}}active{{end}}">
                <a class="nav-link" data-toggle="dropdown" id="bottom-nav-link-dropdown-toggle">
                {{.Pre}}&nbsp;{{ .Name }}
                <i class="fa fa-angle-up ml-5" aria-hidden="true"></i> <!-- ml-5= margin-left: 0.5rem (5px) -->
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bottom-nav-link-dropdown-toggle">
                    {{ range .Children.ByWeight }}
                    <a href="{{.URL}}" class="dropdown-item">{{.Pre}}&nbsp;{{.Name}}</a>
                    {{ end }}
                </div>
                </li>
            {{ else }}
                <li class="nav-item {{if $active}}active{{end}}" >
                <a href="{{ .URL }}" class="nav-link"> {{ .Pre }}&nbsp;{{.Name}}</a>
                </li>
            {{ end }}
    {{ end }}
    </ul>

  <span class="navbar-text ml-auto"> <!-- ml-auto = margin-left: auto -->
    &copy; {{.Site.Params.description}}
  </span>
</nav>
