{{ $halfmoonJs := resources.Get "js/halfmoon.js" | resources.Minify | resources.Fingerprint}}
<script src="{{$halfmoonJs.RelPermalink}}" {{if eq .Site.Params.themePref "dark"}} onload="halfmoon.toggleDarkMode();"{{end}}></script>
{{ if or (eq .Params.Math true) (eq .Site.Params.math true) }}
    {{ partial "math.html" . }}
{{ end }}

{{ if (eq .Site.Params.js.plotly true) }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{{ end }}


{{ range .Site.Params.customJs}}
{{ $script := resources.Get . | resources.Minify | resources.Fingerprint }}

<script src="{{$script.RelPermalink}}"></script>

{{ end }}
