<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />
     <!-- Favicon and title -->
     {{ if isset .Site.Params "favicon"}}
     <link ref="icon" href="{{.Site.Params.favicon | relURL}}" /> 
     {{ end }}
     <title>{{ if .IsHome }} Home - {{ else }}{{ if .Page.Title}} {{ .Page.Title}} - {{end}}{{end}}{{.Site.Title}}</title>

    <!-- CSS -->
    {{ $halfmoon := resources.Get "css/halfmoon-variables.css" | resources.Minify | resources.Fingerprint }}
    {{ $style := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
    {{ $syntax := resources.Get "css/syntax.css" | resources.Minify | resources.Fingerprint }}

    <link href="{{ $halfmoon.RelPermalink }}" rel="stylesheet" />
    <link href="{{ $style.RelPermalink}}" rel="stylesheet" />
    <link href="{{ $syntax.RelPermalink}}" rel="stylesheet" />

    {{ range .Site.Params.customCss}}
    {{ $style := resources.Get . | resources.Minify | resources.Fingerprint }}
    <link href="{{$style.RelPermalink}}" rel="stylesheet" />
    {{ end }}

    <!-- Icons -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.10.1/devicon.min.css">

          <!-- Twitter Cards -->
          {{ template "_internal/twitter_cards.html" . }}
</head>
