<div class="container-fluid">
  {{ if isset .Page.Params "thumbnail"}}

  <img src="{{.Page.Params.thumbnail}}" class="w-full h-200 img-fluid" style="object-fit: cover;"/>
  {{ end }}
  <div class="row">
    <div class="col-lg-9">
      <div class="content">
        <h1 class="title">{{.Title | title}}</h1>
        {{ partial "components/post/single/head.html" . }}
        {{ .Content }}
      </div>
    </div>
    <div class="col-lg-3 d-none d-lg-block">
      <div class="content">
       {{ if or (.Site.Params.enableToc) (eq .Params.enableToc true) }} 
       {{ partial "components/post/single/toc.html" . }}
       {{ end }}
       {{ partial "components/post/single/related.html" . }}
      </div>
    </div>
  </div>
</div>

<center>
{{if eq .Site.Params.commentsrc "disqus"}}
 <div id="fb_comments_container">
   <h2>{{i18n "comments"}}</h2>
   {{ template "_internal/disqus.html" . }}
 </div>
 {{ end }}
</center>

{{if eq .Site.Params.commentsrc "utterances"}}
 <div id="fb_comments_container">
   <h2>{{i18n "comments"}}</h2>
   {{ partial "comments/utterances.html" . }}
 </div>
 {{ end }}
